/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{
font-family:'Poppins',sans-serif;
background:#050505;
color:#fff;
overflow-x:hidden;
}

/* NAVBAR */

header{
position:fixed;
top:0;
left:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 7%;
z-index:1000;

background:rgba(0,0,0,.35);
backdrop-filter:blur(18px);

transition:.4s;
}

.logo img{
height:70px;
}

nav{
display:flex;
gap:35px;
}

nav a{
text-decoration:none;
color:white;
font-size:15px;
font-weight:500;
transition:.3s;
position:relative;
}

nav a::after{

content:"";

position:absolute;

bottom:-6px;

left:0;

width:0;

height:2px;

background:#ff7a00;

transition:.3s;

}

nav a:hover::after{

width:100%;

}

.button{

padding:14px 34px;

background:#ff7a00;

color:white;

border-radius:40px;

text-decoration:none;

font-weight:600;

transition:.35s;

}

.button:hover{

transform:translateY(-3px);

box-shadow:0 0 25px rgba(255,122,0,.4);

}

/* HERO */

.hero{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

position:relative;

overflow:hidden;

text-align:center;

}

.hero video{

position:absolute;

width:100%;

height:100%;

object-fit:cover;

z-index:-2;

}

.overlay{

position:absolute;

width:100%;

height:100%;

background:linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,.55));

z-index:-1;

}

.content{

max-width:850px;

padding:20px;

animation:fadeUp 1.5s ease;

}

.content h1{

font-size:95px;

font-weight:800;

letter-spacing:7px;

}

.content p{

font-size:23px;

margin:25px 0 45px;

color:#e4e4e4;

}

.content a{

display:inline-block;

padding:18px 45px;

background:#ff7a00;

border-radius:50px;

text-decoration:none;

color:white;

font-weight:700;

transition:.4s;

}

.content a:hover{

transform:scale(1.08);

box-shadow:0 0 35px rgba(255,122,0,.55);

}

/* Animation */

@keyframes fadeUp{

from{

opacity:0;

transform:translateY(60px);

}

to{

opacity:1;

transform:translateY(0);

}

}

/* Mobile */

@media(max-width:900px){

nav{

display:none;

}

.content h1{

font-size:58px;

}

.content p{

font-size:18px;

}

.logo img{

height:55px;

}

}
